<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verificação Concluída</title>
  <link rel="stylesheet" href="/css/styles1.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>Ministério do Esporte</h1>
    <img src="/images/ASSINATURAS_ESPORTE__FUNDO PRETO 2 HORIZONTAL.png" class="logo-header" alt="IMG1">
  </header>

  <div class="cadastro-container">
    <h2>Verificação Concluída!</h2>
    <p>Seu e-mail foi verificado com sucesso!</p>
    <a href="/login" class="btn">Ir para o Login</a>
  </div>

  <footer>
    <p>&copy; 2024 Ministério do Esporte</p>
  </footer>
</body>
</html>