<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verificação de E-mail</title>
  <link rel="stylesheet" href="/css/styles1.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>Ministério do Esporte</h1>
    <img src="/images/ASSINATURAS_ESPORTE__FUNDO PRETO 2 HORIZONTAL.png" class="logo-header" alt="IMG1">
  </header>

  <div class="cadastro-container">
    <img src="/images/ASSINATURAS_ESPORTE__PRINCIPAL VERTICAL.png" class="logo" alt="Ministério do Esporte">
    <h2>Verificar E-mail</h2>
    <p>Insira o código de verificação enviado para <%= email %>.</p>
    <form action="/verificar-codigo" method="POST">
      <input type="text" name="codigo" placeholder="Digite o código de verificação" required maxlength="5">
      <button type="submit">Verificar</button>
      <% if (typeof showLoginButton !== 'undefined' && showLoginButton) { %>
        <a href="/login" class="btn">Ir para o Login</a>
      <% } %>
    </form>
    <% if (typeof error !== 'undefined') { %>
      <div class="error-message"><%= error %></div>
    <% } %>
    <% if (typeof success !== 'undefined') { %>
      <div class="success-message"><%= success %></div>
    <% } %>
  </div>

  <footer>
    <p>© 2025 Ministério do Esporte</p>
  </footer>
</body>
</html>